<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>اتوماسیون آفیش</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/js/main.js}" src="../../static/js/main.js"></script>
    <script type="text/javascript" th:src="@{/js/jqueryAjaxGet.js}" src="../../static/js/jqueryAjaxGet.js"></script>
</head>

<style>
    table th, table td {
        padding: 5px;
        direction: rtl;
    }

    .message {
        color: blue;
    }

    .error {
        color: red;
        font-size: 12px;
    }

    .active {
        background-color: #337ab7;
        color: white;
    }
</style>
<body dir="rtl">
<div class="container">
    <th:block th:include="/_menu"></th:block>
    <h2>برند ها</h2>
    <div th:if="${message}" th:text="${message}" th:class="${'alerting alert ' + alertClass}"/>
    <button type="button" class="btn btn-danger newBrands" id="newBrand">
        افزودن برند
    </button>
    <div class="brandModal" id="brand_modal">
        <form th:action="@{/admin/brands/create}" method="post" name="brandForm" id="brandForm">
            <div id="brandFrom" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="brandLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <label class="modal-title" id="brandLabel" ></label>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" hidden="true">
                                <label for="id" class="col-form-label">ID:</label> <input
                                    type="text" class="form-control form-control-sm btn-space" id="id"
                                    name="id" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="name" class="form-control-label">نام برند:</label>
                                <input type="text" id="name" class="form-control" name="name" value=""/>
                            </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                            <input type="submit" class="btn btn-success" id="saveeditbutton" value=""/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <table class="table table-hover tablemy">
        <thead>
        <tr class="text-center">
            <td dir="rtl">آی دی</td>
            <td dir="rtl">نام</td>
            <td dir="rtl">تنظیمات</td>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="brand : ${brands}">
            <td th:text="${brand.getId()}">...</td>
            <td th:text="${brand.getName()}">...</td>
            <td>
                <a th:href="@{/admin/brands/find/{id}(id=${brand.getId()})}"
                   class="btn btn-sm btn-primary editBrands"
                   id="EditBrand">ویرایش</a>
                <button type="button" class="btn btn-danger btn-sm " data-toggle="modal"
                        th:attr="data-target='#modal-warning'+${brand.getId() }">
                    حذف
                </button>
                <div class="modal fade" th:id="modal-warning+${brand.getId()}" tabindex="-1" role="dialog"
                     aria-labelledby="brandSLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="brandSLabel" th:utext="${brand.getName()}"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="alert alert-danger">
                                    آیا شما مطمین هستید که میخواهید این برند را پاک کنید ؟
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                                <a th:href="@{/admin/brands/delete/{id}(id=${brand.getId()})}"
                                   class="btn btn-danger"
                                   id="deleteBrand">حذف</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <ul class="nav nav-pills" th:if="${brands.totalPages>=2}">
        <li class="nav-item" th:each="i : ${#numbers.sequence(0,brands.totalPages-1)}">
            <a th:href="@{/admin/brands/(page=${i})}" th:text="${i+1}" class="nav-link"
               th:classappend="${currentPage}==${i}?'active':''"></a>
        </li>
    </ul>
</div>

<script th:src="@{/js/jquery.validate.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#brand_modal').on('shown.bs.modal', function() {
            $('#brand_modal #name').focus();
        });
        $('.alerting').delay(2000).fadeOut();
        $("form[name='brandForm']").validate({
            rules: {
                name: "required"
            },
            messages: {
                name: "لطفا نام برند را وارد کنید"
            },
            submitHandler: function (form) {
                form.submit();
            }
        });
        $('.newBrands, .tablemy .editBrands').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            var text = $(this).attr('id');
            if (text == 'EditBrand') {
                $("#saveeditbutton").prop("value", "Save");
                $("label.error").hide();
                $(".error").removeClass("error");
                $.get(href, function (brand) {
                    $('.brandModal #id').val(brand.id);
                    $('.brandModal #name').val(brand.name);
                })
                $('.brandModal #saveeditbutton').prop("value", "ویرایش");
                $('.brandModal #brandLabel').prop("value", "ویرایش");

                $('.brandModal #brandFrom').modal('show');
            } else if (text == 'newBrand') {
                $.get(href, function (brand, status) {
                    $("label.error").hide();
                    $(".error").removeClass("error");
                    $('.brandModal #saveeditbutton').prop("value", "افزودن");
                    $('.brandModal #brandLabel').prop("value", "افزودن");
                    $('.brandModal #name').val('');
                    $('.brandModal #id').val('');
                    $('.brandModal #brandFrom').modal('show');
                });
            }
        });
    });
</script>
</body>
</html>