<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IOT</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{js/main.js}" src="../../static/js/main.js"></script>
    <script type="text/javascript" th:src="@{js/jqueryAjaxGet.js}" src="../../static/js/jqueryAjaxGet.js"></script>

</head>

<style>
    table th, table td {
        padding: 5px;
        direction: rtl;
    }

    .message {
        color: blue;
    }
</style>
<body dir="rtl">
<div class="container">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>

    <h2>مکان ها</h2>

    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form">
        افزودن مکان
    </button>


    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">ایجاد مکان جدید</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/admin/locations/create}" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="form-control-label">نام مکان:</label>
                            <input type="text" class="form-control" id="name" name="name" value=""/>
                        </div>
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr class="text-center">
            <td dir="rtl">آی دی</td>
            <td dir="rtl">نام</td>
            <td dir="rtl">تنظیمات</td>
        </tr>
        </thead>
        <tbody>

        <tr class="text-center" th:each="location : ${locations}">
            <td th:text="${location.getId()}">...</td>
            <td th:text="${location.getName()}">...</td>

            <td>
                <a th:href="@{/admin/locations/edit/{id}(id=${location.getId()})}" class="btn btn-primary teBtn"
                   id="EditTajhiz">ویرایش</a>


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal"
                        th:attr="data-target='#modal-warning'+${location.getId() }">
                    حذف
                </button>

                <!-- Modal -->
                <div class="modal fade" th:id="modal-warning+${location.getId()}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" th:utext="${location.getName()}"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="alert alert-danger">
                                    آیا شما مطمین هستید که میخواهید این مکان را پاک کنید ؟
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                                <a th:href="@{/admin/locations/delete/{id}(id=${location.getId()})}"
                                   data-target="#deleteLocation" class="btn btn-danger tdelBtn"
                                   id="deleteLocation">حذف</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>

        </tbody>
    </table>

    <hr/>

    <!--            <ul class="nav nav-pills">-->
    <!--                <li class="nav-item" th:each="i : ${#numbers.sequence(0,locations.totalPages-1)}">-->
    <!--                    <a th:href="@{/admin/locations/(page=${i})}" th:text="${i}" class="nav-link"-->
    <!--                       th:classappend="${currentPage}==${i}?'active':''"></a>-->
    <!--                </li>-->
    <!--            </ul>-->

    <div class="modal fade" id="deleteLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">مکان ها </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        آیا شما مطمین هستید که میخواهید این تجهیز را پاک کنید ؟
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <a href="" class="btn btn-danger" id="tdelRef">پاک شود</a>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>