<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_layout">
<head>
    <meta charset="UTF-8">
    <title> اتوماسیون آفیش - در روند انجام</title>
</head>
<body>
<div class="row" layout:fragment="main_content">
    <div class="col-12">
        <div class="card">

            <div class="card-header">
                <div th:if="${message}" th:text="${message}" th:class="${'alerting alert ' + alertClass}"/>
<!--                <div class="row mb-3">-->
<!--                    <form th:action="@{/find/date-between}" method="post" class="form-inline">-->
<!--                        <span class="badge">از تاریخ</span>-->
<!--                        <input type="text" name="startDate" readonly class="office-date ml-4">-->
<!--                        <span class="badge">تا تاریخ</span>-->
<!--                        <input type="text" name="endDate" readonly class="office-date  ml-4">-->
<!--                        <input type="submit" class="btn btn-outline-secondary btn-sm  ml-4" value="جستجو"/>-->
<!--                    </form>-->
<!--                </div>-->
                <div class="row">
                    <th:block sec:authorize="hasAuthority('OP_AFZODAN_OFFICE')">
                        <button type="button" class="btn btn-info fnBtn float-right" id="newoffice"><i
                                class="fa fa-plus"></i>جدید
                        </button>
                    </th:block>
                </div>

            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover ">
                    <tbody>
                    <tr>
                        <th>شماره</th>
                        <th>نام برنامه</th>
                        <th>نام تهیه کننده</th>
                        <th>محل آفیش</th>
                        <th>نوع آفیش</th>
                        <th>تکمیل آفیش</th>
                        <th>تاریخ ثبت</th>
                        <th>تنظیمات</th>
                    </tr>
                    <tr th:each="form , state : ${officeforms}">
                        <td class="persianumber" th:utext="${form.getId()}"></td>
                        <td th:utext="${form.program.getName()}"></td>
                        <td th:utext="${form.getUsers().get(0).getFullname()}"></td>
                        <td th:utext="${form.location.getName()}"></td>
                        <td th:utext="${form.getType().getDisplayName()}"></td>
                        <td th:if="${form.getStatus() ==false}">
                            <a th:attr="data-target='#modal-warningg_'+${state.count }"
                               href="#myModal" data-toggle="modal" class="MainNavText" id="takmilDescOffice_">
                                <span class="badge badge-warning">در روند تکمیل</span>
                            </a>
                        </td>
                        <td th:if="${form.getUserCancelOfficeDescriptions().isEmpty()==false}">
                            <a th:attr="data-target='#modal-warning'+${state.count }"
                               href="#myModal" data-toggle="modal" class="MainNavText" id="laghvDescOffice">
                                <span class="badge bg-danger">لغو شده</span>
                            </a>
                        </td>
                        <td th:if="${form.getStatus() ==true && form.getUserCancelOfficeDescriptions().isEmpty()==true}">
                            <a th:attr="data-target='#modal-warningg'+${state.count }"
                               href="#myModal" data-toggle="modal" class="MainNavText" id="takmilDescOffice">
                                <span class="badge badge-success">تکمیل شده</span>
                            </a>
                        </td>
                        <td class="persianumber" th:utext="${form.getTarikhsodur()}"></td>

                        <td>
                            <a th:href="@{/form/(id=${form.id})}" class="mdelBtn" id="DeleteUser"><span
                                    class="badge bg-info">نمایش</span></a>
                            <th:block sec:authorize="hasAuthority('OP_DELETE_OFFICE')">
                                <a th:attr="data-target='#modal-warning'+${form.getId() }" href="#myModal"
                                   data-toggle="modal" class="MainNavText" id="MainNavHelp">
                                    <span class="badge bg-danger">حذف</span>
                                </a>
                            </th:block>
                        </td>
                        <div class="modal fade" th:id="modal-warning+${form.getId()}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"
                                            th:utext="${form.getTahayekonande()}"></h5>
                                        <button style="display: contents;" type="button" class="close"
                                                data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="alert alert-danger">
                                            آیا شما مطمین هستید که میخواهید این آفیش را پاک کنید ؟
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن
                                        </button>
                                        <a th:href="@{/admin/officeform/delete/{id}(id=${form.id})}"
                                           class="btn btn-danger">حذف</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" th:id="modal-warning+${state.count}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel"
                                            th:utext="${form.program.getName()}"></h6>
                                        <button style="display: contents;" type="button" class="close"
                                                data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" th:each="ssss : ${form.getUserCancelOfficeDescriptions()}">
                                        <p th:text="${ssss.getDescription()}"></p>
                                        <br>
                                        <br>
                                        <p th:text="${ssss.getUser().getFullname() + ' ( ' + ssss.getUser().getJob().getName()+' ) '}"></p>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">بستن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" th:id="modal-warningg+${state.count}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel"
                                            th:utext="${form.program.getName()}"></h6>
                                        <button style="display: contents;" type="button" class="close"
                                                data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="text-center">
                                                    [[${form.getType().getDisplayName()}]]
                                                </h5>
                                                <br>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- info row -->
                                        <div class="row invoice-info">
                                            <div class="col-sm-6 invoice-col">
                                                <address>
                                                    <small style="font-size: 13px;"><strong>نام برنامه &nbsp;:</strong>&nbsp;
                                                        [[${form.getProgram().getName()}]] &nbsp;</small>
                                                </address>
                                            </div>
                                            <!-- /.col -->
                                            <!-- /.col -->
                                            <div class="col-sm-6 invoice-col">
                                                <address class="persianumber">
                                                    <small style="font-size: 13px;"><strong>تاریخ شروع :</strong>&nbsp;
                                                        [[${form.getDate_begin()}]]
                                                        &nbsp;</small><br>
                                                    <small style="font-size: 13px;"><strong>تاریخ اتمام :</strong>&nbsp;
                                                        [[${form.getDate_end()}]]
                                                        &nbsp;</small>
                                                </address>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <div class="row invoice-info">
                                            <div class="col-sm-6 invoice-col">
                                                <address>
                                                    <strong>مکان آفیش :</strong><br>
                                                    [[${form.location.getName()}]]<br>
                                                </address>
                                            </div>
                                            <!-- /.col -->

                                            <!-- /.col -->
                                            <div class="col-sm-6 invoice-col ">
                                                <address class="persianumber">
                                                    <strong>ساعت آفیش :</strong><br>
                                                    [[${form.saat_zabt}]] - [[${form.saat_zabt_end}]]<br>
                                                </address>
                                            </div>
                                            <!-- /.col -->
                                        </div>

                                        <br>
                                        <br>
                                        <p style="color: green;">آفیش مورد نظر با موفقیت تکمیل شد . </p>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">بستن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" th:id="modal-warningg_+${state.count}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"
                                            th:utext="${form.program.getName()}"></h5>
                                        <button style="display: contents;" type="button" class="close"
                                                data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4 class="text-center">
                                                    [[${form.getType().getDisplayName()}]]
                                                </h4>
                                                <br>
                                            </div>
                                            <!-- /.col -->
                                        </div>
                                        <!-- info row -->
                                        <div class="row invoice-info">

                                            <div class="col-sm-6 invoice-col">
                                                <address>
                                                    <small ><strong>تهیه کننده یا هماهنگی &nbsp;:</strong>
                                                        <span style="color: green" th:if="${form.getTahayekonandeSeen()!=null}">
                                                            <span class="persianumber" th:text="${form.getTahayekonandeSeen()}"></span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                            </svg>
                                                        </span>
                                                        <span style="color: green" th:if="${form.getHamahangiSeen()!=null}">
                                                            <span class="persianumber" th:text="${form.getHamahangiSeen()}"></span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                            </svg>
                                                        </span>

                                                    </small>
                                                </address>
                                            </div>
                                            <div class="col-sm-6 invoice-col">
                                                <address>
                                                    <small><strong>مدیر واحد تولید &nbsp;:</strong>
                                                        <span style="color: green" th:if="${form.getMdarkhastSeen()!=null}">
                                                            <span class="persianumber" th:text="${form.getMdarkhastSeen()}"></span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                            </svg>
                                                        </span>

                                                    </small>
                                                </address>
                                            </div>
                                            <div class="col-sm-6 invoice-col">
                                                <address>
                                                    <small ><strong>مدیر پشتیبانی &nbsp;:</strong>
                                                        <span style="color: green" th:if="${form.getPosheSeen()!=null}">
                                                            <span class="persianumber" th:text="${form.getPosheSeen()}"></span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                            </svg>
                                                        </span>
                                                    </small>
                                                </address>
                                            </div>
                                            <div class="col-sm-6 invoice-col">
                                                <address>
                                                    <small ><strong>انباردار &nbsp;:</strong>
                                                        <span style="color: green" th:if="${form.getAnbaremzaSeen()!=null}">
                                                            <span class="persianumber" th:text="${form.getAnbaremzaSeen()}"></span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                            </svg>
                                                        </span>
                                                    </small>
                                                </address>
                                            </div>
                                            <div class="col-sm-6 invoice-col">
                                                <address>
                                                    <small ><strong>مدیر حمل ونقل &nbsp;:</strong>

                                                        <span style="color: green" th:if="${form.getHamlonaghlSeen()!=null}">
                                                            <span class="persianumber" th:text="${form.getHamlonaghlSeen()}">
                                                            </span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                            </svg>
                                                        </span>


                                                    </small>
                                                </address>
                                            </div>
                                            <div class="col-sm-6 invoice-col">
                                                <address>
                                                    <small ><strong>مدیر ارتباطات &nbsp;:</strong>
                                                        <span style="color: green" th:if="${form.getUplinkSeen()!=null}">
                                                            <span class="persianumber" th:text="${form.getUplinkSeen()}"></span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                            </svg>
                                                        </span>
                                                    </small>
                                                </address>
                                            </div>
                                            <div class="col-sm-6 invoice-col">
                                                <address>
                                                    <small ><strong>مدیر تاسیسات &nbsp;:</strong>
                                                        <span style="color: green" th:if="${form.getTasisatSeen()!=null}">
                                                            <span class="persianumber" th:text="${form.getTasisatSeen()}"></span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                            </svg>
                                                        </span>
                                                    </small>
                                                </address>
                                            </div>
                                            <div class="col-sm-6 invoice-col">
                                                <address>
                                                    <small ><strong>  حراست &nbsp;:</strong>
                                                        <span style="color: green" th:if="${form.getKhherasatSeen()!=null}">
                                                            <span class="persianumber" th:text="${form.getKhherasatSeen()}"></span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                                                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                                            </svg>
                                                        </span>

                                                    </small>
                                                </address>
                                            </div>


                                            <!-- /.col -->
                                        </div>

                                        <br>
                                        <br>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">بستن</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->

            <div class="card-footer clearfix">
                <div class="pagination-div">
                    <span th:if="${page.hasPrevious()}">
                        <a th:href="@{/office(page=${page.number-1},size=${page.size})}" th:if="${page.size>=1}">قبلی</a>
                    </span>
                    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
                        <span th:unless="${page.number == i}">
                             <a th:href="@{/office(page=${i},size=${page.size})}">[[${i}+1]]</a>
                        </span>
                    </th:block>
                    <span th:if="${page.hasNext()}">
                        <a th:href="@{/office(page=${page.number+1},size=${page.size})}">بعدی</a>
                    </span>
                </div>

            </div>
        </div>
        <!-- /.card -->
    </div>
    <div class="fmyForm " id="of_modal">
        <form th:action="@{/saveForm}" name="off_form_form" id="off_form_form" method="post"
              enctype="multipart/form-data">
            <div class="modal fade" id="fexampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ثبت آفیش جدید</h5>
                            <button style="display: contents;" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group" hidden>
                                <label for="tahayekonande" class="form-control-label">نام تهیه کننده:</label>
                                <input type="text" class="form-control" id="tahayekonande" name="tahayekonande"
                                       th:value="${user.getFullname()}" readonly="readonly"/>
                            </div>

                            <div class="form-group">
                                <label for="program" class="form-control-label">نام برنامه:</label>
                                <select class="form-control" id="program" name="program">
                                    <option value="">نوع آفیش را انتخاب کنید</option>
                                    <option th:each="pro :${programs}" th:value="${pro.getId()}"
                                            th:text="${pro.getName()}"></option>
                                </select>
                            </div>

                            <div class="form-inline form-group">
                                <div class="input-group input-group-sm">
                                    <label for="date_begin" class="form-control-label">از تاریخ :</label>
                                    <input type="text" id="date_begin" name="date_begin" readonly
                                           class="pwt-datepicker-input-element office-date">
                                    <label for="date_end" class="form-control-label">تا تاریخ : </label>
                                    <input type="text" id="date_end" name="date_end" readonly
                                           class="pwt-datepicker-input-element office-date">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="saat_zabt" class="form-control-label">ساعت شروع ضبط:</label>
                                <input type="text" id="saat_zabt" name="saat_zabt" class="office-date-time" readonly
                                       value=""/> مانند : 12:10
                                <br>
                                <label for="saat_zabt_end" class="form-control-label">ساعت پایان ضبط:</label>
                                <input type="text" id="saat_zabt_end" name="saat_zabt_end" class="office-date-time"
                                       readonly value=""/> مانند : 13:10
                            </div>

                            <div class="form-group">
                                <label for="location" class="form-control-label">محل آفیش:</label>
                                <select class="form-control" id="location" name="location">
                                    <option value="">مکان را انتخاب کنید</option>

                                    <option th:each="location :${locations}" th:value="${location.getId()}"
                                            th:text="${location.getName()}"></option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="type" class="form-control-label">نوع آفیش:</label>
                                <select class="form-control" id="type" name="type">
                                    <option value="">نوع آفیش را انتخاب کنید</option>
                                    <option th:each="type :${officeTypes}" th:value="${type.name()}"
                                            th:text="${type.getDisplayName()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description" class="form-control-label">توضیحات :(اختیاری)</label>
                                <textarea name="description" id="description" cols="80" rows="10"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer btn-group border-top-0 d-flex justify-content-center">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
                            <input type="submit" class="btn btn-success" id="saveeditbutton" value=""/>
                        </div>
                    </div>

                </div>


            </div>
        </form>
    </div>

</div>

</body>
</html>