<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_layout">
<head>
    <meta charset="UTF-8">
    <title>اتوماسیون آفیش</title>
</head>
<body>

<div class="row" layout:fragment="main_content">
    <div class="col-12">
        <div th:if="${message}" th:text="${message}" th:class="${'alerting alert ' + alertClass}"/>
        <th:block th:if="${form.getStatus()==false}"
                  sec:authorize="hasAuthority('OP_ADD_AVAMEL_TO_OFFICE')">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">افزودن عوامل </h3>
                        </div>
                        <div class="card-body">
                            <th:block th:if="${form.getPoshemza() == null}"
                                      sec:authorize="hasAnyAuthority('OP_TAHIEKONANDEH','OP_HAMAHANGIE','OP_MODIR_POSHTIBANIT','OP_MODEIR_VAHED_DARKHST_KONANDEH')">
                                <div class="form-group">
                                    <td>
                                        <label for="job_form" class="form-control-label"> عوامل:</label>
                                        <select id="job_form" class="form-control selectpicker ch"
                                                name="job_form" title="دسته بدون انتخاب">

                                            <option th:each="job:${user.getJob().getCategory().getJobs()}"
                                                    th:value="${job.getId()}" th:text="${job.getName()}">دسته بدون انتخاب
                                            </option>
                                            <th:block sec:authorize="hasAuthority('OP_ACCESS_ADMIN_PANEL')">
                                                <option th:each="job : ${jobs}"
                                                        th:value="${job.getId()}"
                                                        th:text="${job.getName()}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </td>
                                </div>
                            </th:block>
                            <td class="text-center">تهیه کننده :
                                <img th:if="${form.getTahayeemza()} != null" width="85px"
                                     th:src="*{'data:emza/jpg;base64,'+{form.getTahayeemza()}}"
                                     class="img-fluid "
                                     style="direction: ltr;">

                                <span th:if="${form.getTahayekonandeSeen() != null}"
                                      class="badge bg-gray-light persianumber" th:text="${form.getTahayekonandeSeen()}"></span>

                                <th:block th:if="${form.getTahayeemza() == null}"
                                          sec:authorize="hasAuthority('OP_TAHIEKONANDEH')">
                                    <form th:action="@{/saveEmza}" method="post">
                                        <input type="hidden" name="uid" th:value="${user.id}">
                                        <input type="hidden" name="fid" th:value="${form.id}">
                                        <input th:if="${form.getTahayeemza() == null}" type="submit"
                                               class="btn btn-warning"
                                               value="تایید">
                                    </form>
                                </th:block>
                                <span th:if="${form.getTahayeemza() != null}"
                                      class="badge bg-success">تایید شد</span>
                            </td>
                        </div>
                    </div>
                </div>
                <!-- /.col (left) -->
                <div class="col-md-6">
                    <!-- iCheck -->
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">افزودن عوامل</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <form th:action="@{/addForm}" method="post">
                                    <!--                                <input type="hidden" class="form-control" id="form_id" name="id"/>-->
                                    <input type="hidden" name="id" id="fid" th:value="${form.id}">
                                    <div id="wrapperfortestnames"></div>
                                </form>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!--                        <div class="card-footer">-->
                        <!--                            و چندین رنگ و مدل دیگر-->
                        <!--                        </div>-->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col (right) -->
            </div>
        </th:block>
        <th:block th:if="${form.getStatus()==false}">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">تجهیزات</h4>
                    <div class="table_office">
                        <th:block sec:authorize="hasAuthority('OP_ADD_TAJHIZ_TO_OFFICE')">
                            <a th:if="${form.getAnbaremza() == null && form.getType()==enumField}"
                               th:href="@{/admin/office/find/{id}(id=${form.getId()})}"
                               class="editOffices"
                               id="EditOffices">
                                <span class="badge bg-warning">افزودن تجهیزات</span>
                            </a>
                        </th:block>
                    </div>
                </div>

                <div class="col-6">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>نام تجهیز</th>
                                <th>شماره اموال</th>
                            </tr>
                            <tr th:each="tajhiz : ${form.getTajhizatss()}">
                                <td th:text="${tajhiz.getName()}"></td>
                                <td class="persianumber" th:text="${tajhiz.getAmvalid()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer">
                    <th:block th:if="${form.getAnbaremza() == null && form.getType()==enumField}"
                              sec:authorize="hasAuthority('OP_ANBARDAR')">
                        <form th:action="@{/saveEmza}" method="post">
                            <input type="hidden" name="uid" th:value="${user.id}">
                            <input type="hidden" name="fid" th:value="${form.id}">
                            <input th:if="${form.getAnbaremza() == null}" type="submit"
                                   class="btn btn-success"
                                   value=" تایید">
                        </form>
                        <p>( توجه کنید پس از تایید امکان افزودن تجهیزات به این آفیش وجود ندارد)</p>
                    </th:block>

                    <th:block th:if="${form.getAnbaremza() != null}"
                              sec:authorize="hasAnyAuthority('OP_MODIR_POSHTIBANIT','OP_ANBARDAR')">
                        <span class="badge bg-success">تجهیزات اضافه شدند و به امضای انباردار در آمد</span>
                    </th:block>
                </div>
                </div>


        </th:block>
        <!-- Main content -->
        <div class="invoice p-3 mb-3" style="font-size: 15px;">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h5 class="text-center">
                        [[${form.getType().getDisplayName()}]]
                    </h5>
                    <br>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
<!--                <img th:if="${form.getUserCancelOfficeDescriptions().isEmpty()==false}" width="85px"-->
<!--                     th:src="@{/admin/img/dec.png}"-->
<!--                     class="img-fluid "-->
<!--                     style="direction: ltr;">-->
<!--                <img src="/admin/img/dec.png" alt="Admin Panel Logo" class="brand-image " style="opacity: .8; margin:0">-->
<!--                <img  src="" alt="">-->
                <div class="col-sm-4 invoice-col">
                    <address>
                        <small style="font-size: 15px;"><strong>نام برنامه &nbsp;:</strong>&nbsp;
                            [[${form.getProgram().getName()}]] &nbsp;</small>
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <address>

                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <address>
                        <small class="persianumber" style="font-size: 15px; display: flex"><strong>تاریخ شروع :</strong>&nbsp; [[${form.getDate_begin()}]]
                            &nbsp;</small><br>
                        <small class="persianumber" style="font-size: 15px; display: flex"><strong>تاریخ اتمام :</strong>&nbsp; [[${form.getDate_end()}]]
                            &nbsp;</small>
                    </address>
                </div>
                <!-- /.col -->
            </div>
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <address>
                        <strong>مکان آفیش :</strong><br>
                        [[${form.location.getName()}]]<br>
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <address>

                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col ">
                    <address class="persianumber">
                        <strong >ساعت آفیش :</strong><br>
                        [[${form.saat_zabt}]] - [[${form.saat_zabt_end}]]<br>
                    </address>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
                <div class="col-9 table-responsive">
                    <table class="table table_office">
                        <div class="officeModal" id="officeFrom_laghv">
                            <form th:action="@{/laghv}" method="post" name="officeFrom_laghv" id="officeFrom_laghv">
                                <div th:id="modal-warning+${form.getId()}" class="modal fade" tabindex="-1"
                                     role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-bottom-0">
                                                <h5 class="modal-title" id="exampleModalLabel__"
                                                    th:text="${form.getProgram().getName()}"></h5>
                                                <button style="display: contents;" type="button" class="close"
                                                        data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group" type="hidden">
                                                    <input type="hidden" name="id" id="form___id"
                                                           th:value="${form.getId()}">
                                                    <input type="hidden" name="user" id="user___id"
                                                           th:value="${user.getId()}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="description" class="form-control-label">دلیل لغو آفیش
                                                        *</label>
                                                    <textarea name="description" id="description" cols="60" rows="5"
                                                              required></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                                <input type="submit" class="btn btn-success"
                                                       id="laghv_"
                                                       value="لغو"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <th:block sec:authorize="hasAuthority('OP_LAGHV_OFFICE')" >
                            <th:block th:if="${form.getHamahangiemaza() == null}" sec:authorize="hasAuthority('OP_HAMAHANGIE')">
                                    <a th:if="${form.getStatus()==false }" th:attr="data-target='#modal-warning'+${form.getId() }"
                                       th:href="@{/admin/office/find/{id}(id=${form.id})}" data-toggle="modal"
                                       class="laghvOffice"
                                       id="laghvOffice">
                                        <span class="badge bg-warning">لغو آفیش</span>
                                    </a>
                            </th:block>
                            <th:block th:if="${form.getTahayeemza() == null}" sec:authorize="hasAuthority('OP_TAHIEKONANDEH')">
                                    <a th:if="${form.getStatus()==false }" th:attr="data-target='#modal-warning'+${form.getId() }"
                                       th:href="@{/admin/office/find/{id}(id=${form.id})}" data-toggle="modal"
                                       class="laghvOffice"
                                       id="laghvOffice">
                                        <span class="badge bg-warning">لغو آفیش</span>
                                    </a>
                            </th:block>
                            <th:block th:if="${form.getAnbaremza() == null}" sec:authorize="hasAuthority('OP_ANBARDAR')">
                                    <a th:if="${form.getStatus()==false }" th:attr="data-target='#modal-warning'+${form.getId() }"
                                       th:href="@{/admin/office/find/{id}(id=${form.id})}" data-toggle="modal"
                                       class="laghvOffice"
                                       id="laghvOffice">
                                        <span class="badge bg-warning">لغو آفیش</span>
                                    </a>
                            </th:block>
                            <th:block th:if="${form.getPoshemza() ==null}" sec:authorize="hasAuthority('OP_MODIR_POSHTIBANIT')">
                                    <a th:if="${form.getStatus()==false }" th:attr="data-target='#modal-warning'+${form.getId() }"
                                       th:href="@{/admin/office/find/{id}(id=${form.id})}" data-toggle="modal"
                                       class="laghvOffice"
                                       id="laghvOffice">
                                        <span class="badge bg-warning">لغو آفیش</span>
                                    </a>
                            </th:block>
                            <th:block th:if="${form.getMdarkhastemza() ==null}" sec:authorize="hasAuthority('OP_MODEIR_VAHED_DARKHST_KONANDEH')">
                                    <a th:if="${form.getStatus()==false }" th:attr="data-target='#modal-warning'+${form.getId() }"
                                       th:href="@{/admin/office/find/{id}(id=${form.id})}" data-toggle="modal"
                                       class="laghvOffice"
                                       id="laghvOffice">
                                        <span class="badge bg-warning">لغو آفیش</span>
                                    </a>
                            </th:block>


                        </th:block>

                        <thead>
                        <tr>
                            <th>شماره</th>
                            <th>کد فعالیت</th>
                            <th>نام و نام خانوادگی</th>
                            <th>تجهیزات تحویلی - شماره اموال</th>
                            <th>تایید عوامل</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--                        <tr th:text="تهیه کننده"></tr>-->
                        <!--                        <tr th:text="دستیار تهیه"></tr>-->
                        <!--                        <tr th:text="کارگردان"></tr>-->
                        <!--                        <tr th:text="منشی صحنه"></tr>-->
                        <!--                        <tr th:text="مدیر صحنه"></tr>-->
                        <!--                        <tr th:text="دکوراتور"></tr>-->
                        <!--                        <tr th:text="مجری"></tr>-->
                        <!--                        <tr th:text="گریمور"></tr>-->
                        <!--                        <tr th:text="نورپرداز"></tr>-->
                        <!--                        <tr th:text="صدابردار"></tr>-->
                        <!--                        <tr th:text="دستیار تهیه"></tr>-->
                        <!--                        <tr th:text="تصویر بردار"></tr>-->
                        <!--                        <tr th:text="تصویر بردار"></tr>-->
                        <!--                        <tr th:text="تصویر بردار"></tr>-->
                        <!--                        <tr th:text="دستیار تصویر"></tr>-->
                        <!--                        <tr th:text="دستیار تصویر"></tr>-->
                        <!--                        <tr th:text="مسعول فنی"></tr>-->
                        <!--                        <tr th:text="امپکس"></tr>-->
                        <tr th:each="userrr , state: ${form.getUsers()}">
                            <td class="persianumber" th:text="${state.count}"></td>
                            <td th:text="${userrr.getJob().getName()}"></td>
                            <td th:text="${userrr.getFullname()}"></td>
                            <td>
                                <!--                                th:if="${form.getPoshemza() == null}"-->
                                <th:block th:if="${form.getStatus()==false}"
                                          sec:authorize="hasAuthority('OP_HAZF_AVAMEL_FROM_OFFICE')">
                                    <form th:action="@{/admin/officeform/delete-user}" method="post">
                                        <input type="hidden" name="id" id="form_id" th:value="${form.id}">
                                        <input type="hidden" name="users" id="users" th:value="${userrr.id}">
                                        <input type="submit" class="btn btn-sm btn-danger" value="حذف"/>
                                    </form>
                                </th:block>
                                <th:block th:if="${form.getAnbaremza() == null && form.getStatus() ==false }">
                                    <th:block sec:authorize="hasAuthority('OP_ADD_TAJHIZ_TO_USER_IN_OFFICE')">
                                        <a th:if="${form.getType()==enumField}"
                                           th:attr="data-target='#modal-warning'+${userrr.getId() }"
                                           th:href="@{/admin/office/find/{id}(id=${form.id})}" data-toggle="modal"
                                           class="addTajhizToOfficeAndUser"
                                           id="addTajhizToOfficeAndUser">
                                            <span class="badge bg-warning">افزودن تجهیز به کاربر</span>
                                        </a>
                                    </th:block>

                                    <span th:each="pfficeForm : ${userrr.getOfficeFormUserTajhizats()}">
                                        <span class="badge bg-info"
                                              th:if="${pfficeForm.getOfficeForms().getId()==form.getId()}"
                                              th:text="${pfficeForm.getTajhizat().getName()}">
                                        </span>
                                        <th:block sec:authorize="hasAuthority('OP_HAZF_TAJHIZ_FROM_USER_IN_OFFICE')">
                                            <a th:if="${pfficeForm.getOfficeForms().getId()==form.getId()}"
                                               class="badge bg-danger"
                                               th:href="${'/deleteTajhizToUser/'+{pfficeForm.getTajhizat().getId()}+'/'+{pfficeForm.getUser().getId()}+'/'+{pfficeForm.getOfficeForms().getId()}}">حذف</a>
                                        </th:block>

                                    </span>
                                </th:block>
                                <th:block th:if="${form.getAnbaremza() != null}">
                                    <!--                                    <span class="badge bg-success">تجهیزات اضافه شدند و به امضای انباردار در آمد</span>-->
                                    <span th:each="pfficeForm : ${userrr.getOfficeFormUserTajhizats()}">
                                        <span th:if="${pfficeForm.getOfficeForms().getId()==form.getId()}"
                                              class="badge bg-info">
                                            <strong>[[${pfficeForm.getTajhizat().getName()}]]</strong><br>
                                        <span class="persianumber">([[${pfficeForm.getTajhizat().getAmvalid()}]])</span>
                                        </span>
                                    </span>
                                </th:block>
                            </td>
                            <div class="officeModal" id="office_modal_">
                                <form th:action="@{/addTajhizToUser}" method="post" name="officeForm_" id="officeForm_">
                                    <div th:id="modal-warning+${userrr.getId()}" class="modal fade" tabindex="-1"
                                         role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header border-bottom-0">
                                                    <h5 class="modal-title" id="exampleModalLabel_"
                                                        th:text="${userrr.getFullname()}"></h5>
                                                    <button style="display: contents;" type="button" class="close"
                                                            data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group" type="hidden">
                                                        <input type="hidden" name="id" id="form__id"
                                                               th:value="${form.id}">
                                                        <input type="hidden" name="users" id="users_"
                                                               th:value="${userrr.id}">
                                                    </div>

                                                    <label class="col-form-label">تجهیزات :</label>

                                                    <select th:class="select" data-mdb-visible-options="3"
                                                            th:id="tajhizatsss" th:name="tajhizatss">
                                                        <option value="">انتخاب کنید</option>
                                                        <option th:each="t  : ${tajhizat_ff}"
                                                                th:value="${t.getId()}"
                                                                th:text="${t.getName()}"></option>
                                                    </select>

                                                </div>
                                                <div class="modal-footer border-top-0 d-flex justify-content-center">
                                                    <input type="submit" class="btn btn-success"
                                                           id="saveeditbutton_"
                                                           value=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3 table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>امضا و تایید مدیر</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">مدیر واحد درخواست کننده :
                                <img th:if="${form.getMdarkhastemza() !=null } " width="85px"
                                     th:src="*{'data:emza/jpg;base64,'+{form.getMdarkhastemza()}}"
                                     class="img-fluid "
                                     style="direction: ltr;">

                                <span th:if="${form.getMdarkhastSeen() != null}"
                                      class="badge bg-gray-light persianumber" th:text="${form.getMdarkhastSeen()}"></span>

                                <th:block th:if="${form.getMdarkhastemza() == null && form.getStatus() ==false}"
                                          sec:authorize="hasAuthority('OP_MODEIR_VAHED_DARKHST_KONANDEH')">
                                    <form th:action="@{/saveEmza}" method="post">
                                        <input type="hidden" name="uid" th:value="${user.id}">
                                        <input type="hidden" name="fid" th:value="${form.id}">
                                        <input th:if="${form.getMdarkhastemza() == null}" type="submit"
                                               class="btn btn-warning"
                                               value="تایید">
                                    </form>
                                </th:block>
                                <span th:if="${form.getMdarkhastemza() != null }"
                                      class="badge bg-success">تایید شد</span>
                            </td>
                        </tr>
                        <tr th:if="${form.getType()!=ertebatat }">
                            <td class="text-center"> مدیر واحد پشتیبانی فنی :
                                <img th:if="${form.getPoshemza()} != null" width="85px"
                                     th:src="*{'data:emza/jpg;base64,'+{form.getPoshemza()}}"
                                     class="img-fluid "
                                     style="direction: ltr;">

                                <span th:if="${form.getPosheSeen() != null}"
                                      class="badge bg-gray-light persianumber" th:text="${form.getPosheSeen()}"></span>

                                <th:block th:if="${form.getPoshemza() == null && form.getStatus() ==false}"
                                          sec:authorize="hasAuthority('OP_MODIR_POSHTIBANIT')">
                                    <form th:action="@{/saveEmza}" method="post">
                                        <input type="hidden" name="uid" th:value="${user.id}">
                                        <input type="hidden" name="fid" th:value="${form.id}">
                                        <input th:if="${form.getPoshemza() == null}" type="submit"
                                               class="btn btn-warning"
                                               value="تایید">
                                    </form>
                                </th:block>
                                <span th:if="${form.getPoshemza() != null}" class="badge bg-success">تایید شد</span>
                            </td>
                        </tr>
                        <tr th:if="${(form.getType() == ertebatat || form.getType() == sayar)} ">
                            <td class="text-center"> مدیر واحدارتباطات :
                                <img th:if="${form.getUplinkemza() !=null } " width="85px"
                                     th:src="*{'data:emza/jpg;base64,'+{form.getUplinkemza()}}"
                                     class="img-fluid "
                                     style="direction: ltr;">
                                <span th:if="${form.getUplinkSeen() != null}"
                                      class="badge bg-gray-light persianumber" th:text="${form.getUplinkSeen()}"></span>
                                <th:block th:if="${form.getUplinkemza() == null && form.getStatus() ==false}"
                                          sec:authorize="hasAuthority('OP_UP_LINK')">
                                    <form th:action="@{/saveEmza}" method="post">
                                        <input type="hidden" name="uid" th:value="${user.id}">
                                        <input type="hidden" name="fid" th:value="${form.id}">
                                        <input th:if="${form.getUplinkemza() == null}" type="submit"
                                               class="btn btn-warning"
                                               value="تایید">
                                    </form>
                                </th:block>
                                <span th:if="${form.getUplinkemza() != null }" class="badge bg-success">تایید شد</span>
                            </td>
                        </tr>

                        <tr th:if="${form.getType() == sayar} ">
                            <td class="text-center"> مدیر واحد تاسیسات :
                                <img th:if="${form.getTasisatemza()} != null" width="85px"
                                     th:src="*{'data:emza/jpg;base64,'+{form.getTasisatemza()}}"
                                     class="img-fluid "
                                     style="direction: ltr;">
                                <span th:if="${form.getTasisatSeen() != null}"
                                      class="badge bg-gray-light persianumber" th:text="${form.getTasisatSeen()}"></span>
                                <th:block th:if="${form.getTasisatemza() == null && form.getStatus() ==false}"
                                          sec:authorize="hasAuthority('OP_TASISAT')">
                                    <form th:action="@{/saveEmza}" method="post">
                                        <input type="hidden" name="uid" th:value="${user.id}">
                                        <input type="hidden" name="fid" th:value="${form.id}">
                                        <input th:if="${form.getTasisatemza() == null}" type="submit"
                                               class="btn btn-warning"
                                               value="تایید">
                                    </form>
                                </th:block>
                                <span th:if="${form.getTasisatemza() != null}" class="badge bg-success">تایید شد</span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-12">
                    <p class="lead">توضیحات :</p>

                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;"
                       th:text="${form.getDescription()}">
                    </p>
                </div>

            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <th:block sec:authorize="hasAuthority('OP_PRINT_OFFICE')">
                <div class="row no-print">
                    <div class="col-12">
                        <!--                    <a th:href="@{/office/exports/{id}(id=${form.id})}" class="btn btn-primary float-left ml-2"-->
                        <!--                       style="margin-right: 5px;">-->
                        <!--                        <i class="fa fa-download"></i>pdf-->
                        <!--                    </a>-->
                        <a target="_blank" th:href="@{/office-print/{id}(id=${form.id})}" class="btn btn-sm btn-primary float-left ml-2"
                           style="margin-right: 5px;">
                            <i class="fa fa-download"></i>پرینت
                        </a>
<!--                        <a target="_blank" th:href="@{/office/exports/{id}(id=${form.id})}" class="btn btn-sm btn-primary float-left ml-2"-->
<!--                           style="margin-right: 5px;">-->
<!--                            <i class="fa fa-download"></i>pdf-->
<!--                        </a>-->
                    </div>
                </div>
            </th:block>



        </div>
        <div th:if="${form.getStatus() ==false}" class="officeModal" id="office_modal">
            <form th:action="@{/addForm}" method="post" name="officeForm" id="officeForm">
                <div id="officeFrom" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header border-bottom-0">
                                <h5 class="modal-title" id="exampleModalLabel">افزودن تجهیز جدید</h5>
                                <button style="display: contents;" type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group" hidden="true">
                                    <label for="fid" class="col-form-label">ID:</label>
                                    <input type="hidden" class="form-control" id="id" name="id"/>
                                </div>
                                <table>
                                    <tr>
                                        <th:block sec:authorize="hasAnyAuthority('OP_MODIR_POSHTIBANIT','OP_ANBARDAR')">
                                            <td>
                                                <label for="tajhizatss" class="form-control-label">تجهیزات:</label>
                                                <select class="selectpicker" id="tajhizatss" name="tajhizatss" multiple
                                                        data-live-search="true"
                                                        title="انتخاب کنید">
                                                    <option style="font-size: 12px;" dir="rtl"
                                                            th:each="t  : ${tajhizats}" th:value="${t.getId()}"
                                                            th:text="${t.getName()+'-----'+t.getAmvalid()}"></option>
                                                </select>
                                            </td>
                                        </th:block>
                                </table>

                            </div>
                            <div class="modal-footer border-top-0 d-flex justify-content-center">
                                <input type="submit" class="btn btn-success" id="saveeditbutton" value=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.invoice -->
    </div>
    <th:block sec:authorize="hasAuthority('OP_SINGLE_OFFICE_HAMLONAGHL_PART')">
        <div class="col-12" th:if="${(form.getType()==enumField) || (form.getType() == sayar)}">
            <div class="card">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3">
                        حمل و نقل
                        <small>
                            <span th:if="${form.getHamlonaghlSeen() != null}"
                                  class="badge bg-gray-light persianumber" th:text="${form.getHamlonaghlSeen()}"></span>
                        </small>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div>
                            <table style="direction: rtl;" class="table " border="1">
                                <tr>
                                    <td>خودروی شماره..
                                        <button th:if="${form.getCar()!=null}"
                                                th:text="${form.getCar().getName()}"></button>
                                        ..به رانندگی آقای..
                                        <button>[[${form.ranande}]]</button>
                                        ..شماره کارمندی..
                                        <button class="persianumber">[[${form.ranandeid}]]</button>
                                        ..میتواند جهت آفیش فوق از محوطه خارج شود.
                                        <th:block sec:authorize="hasAuthority('OP_HAML_NAGHL')" th:if="${form.getStatus() ==false}">
                                            <form th:action="@{/saveEmza}" method="post">
                                                <select th:if="${form.getHamlonaghlemza() == null}" name="tid"
                                                        dir="ltr">
                                                    <option value="">انتخاب راننده</option>
                                                    <!--                                                    <option  th:value="${userJob}" th:text="${user.getJob().getCategory().getFullname()}">دسته بدون انتخاب </option>-->

                                                    <!--                                                    <option th:each="us :${userss}" th:value="${us.id}" th:text="${us.getFullname()}"></option>-->
                                                    <option th:each="us :${userJob}" th:value="${us.id}"
                                                            th:text="${us.getFullname()}"></option>
                                                </select>
                                                <select th:if="${form.getHamlonaghlemza() == null}" name="car"
                                                        dir="ltr">
                                                    <option>انتخاب وسیله نقلیه</option>
                                                    <option th:each="car :${cars}" th:value="${car.getId()}"
                                                            th:text="${car.getName()}"></option>
                                                </select>
                                                <input type="hidden" name="fid" th:value="${form.id}">
                                                <input type="hidden" name="uid" th:value="${user.id}">
                                                <input th:if="${form.getHamlonaghlemza() == null}" type="submit"
                                                       class="btn btn-info"
                                                       value="تایید">
                                            </form>

                                        </th:block>
                                    </td>
                                    <th th:if="${form.hamlonaghlemza} != null">
                                        مدیر حمل و نقل<br>
                                        <img th:if="${form.getHamlonaghlemza()} != null" width="85px"
                                             th:src="*{'data:emza/jpg;base64,'+{form.getHamlonaghlemza()}}"
                                             class="img-fluid "
                                             style="direction: ltr;">
                                        <span th:if="${form.getTahayeemza() != null}"
                                              class="badge bg-success">تایید شد</span>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
        </div>
        <!-- /.col -->
    </th:block>
    <th:block sec:authorize="hasAuthority('OP_SINGLE_OFFICE_HERASAT_PART')">
        <div class="col-12" th:if="${form.getType()==enumField || form.getType() == sayar}">
            <div class="card">
                <div class="card-header d-flex p-0">
                    <h3 class="card-title p-3">
                        حراست
                        <small>
                            <span th:if="${form.getKhherasatSeen() != null}"
                                  class="badge bg-gray-light persianumber" th:text="${form.getKhherasatSeen()}"></span>
                        </small>
                    </h3>

                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div>
                            <table border="3">
                                <tr>
                                    <td>
                                        <br>خروج اشیا فوق از مرکز تایید می شود
                                        <span dir="ltr" th:text="${form.getSaatkhoroj()}"
                                              class="persianumber badge bg-info">تایید شد</span>

                                        <br>
                                        <img th:if="${form.getKhherasatemza()} != null" width="85px"
                                             th:src="*{'data:emza/jpg;base64,'+{form.getKhherasatemza()}}"
                                             class="img-fluid "
                                             style="direction: ltr;">
                                        <span th:if="${form.getKhherasatemza() != null}"
                                              class="badge bg-success">تایید شد</span>
                                        <th:block sec:authorize="hasAuthority('OP_HERASAT')" th:if="${form.getStatus() == false}">
                                            <form th:action="@{/saveEmza}" method="post">
                                                <input type="hidden" name="uid" th:value="${user.id}">
                                                <input type="hidden" name="fid" th:value="${form.id}">
                                                <input type="hidden" name="tid" value="2">
                                                <input th:if="${form.getKhherasatemza() == null}" type="submit"
                                                       class="btn btn-info"
                                                       value="تایید">
                                            </form>
                                        </th:block>
                                    </td>
                                    <td><br>ورود اشیا فوق در ساعت به مرکز تایید میشود
                                        <span dir="ltr" th:text="${form.getSaatvorod()}"
                                              class="persianumber badge bg-info">تایید شد</span>
                                        <span th:if="${form.getVherasatSeen() != null}"
                                              class="badge bg-gray-light persianumber" th:text="${form.getVherasatSeen()}"></span>
                                        <br>

                                        <img th:if="${form.getVherasatemza()} != null" width="85px"
                                             th:src="*{'data:emza/jpg;base64,'+{form.getVherasatemza()}}"
                                             class="img-fluid "
                                             style="direction: ltr;">
                                        <span th:if="${form.getVherasatemza() != null}"
                                              class="badge bg-success">تایید شد</span>
                                        <th:block sec:authorize="hasAuthority('OP_HERASAT')" th:if="${form.getStatus() ==false}">
                                            <form th:action="@{/saveEmza}" method="post">
                                                <input type="hidden" name="uid" th:value="${user.id}">
                                                <input type="hidden" name="fid" th:value="${form.id}">
                                                <input type="hidden" name="tid" value="1">
                                                <input th:if="${form.getVherasatemza() == null}" type="submit"
                                                       class="btn btn-info"
                                                       value="تایید">
                                            </form>
                                        </th:block>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
        </div>
    </th:block>
</div>
</body>
</html>