<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/_layout">
<head>
    <meta charset="UTF-8">
    <title>بعدا تلاش نمایید</title>
</head>
<body>
<div class="row" layout:fragment="main_content">
    <div class="content-wrapper" style="min-height: 771px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>صفحه ارور ۴۰۴</h1>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-warning"> ۴۰۴</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-warning"></i> آخ! صفحه مورد نظرتون شما یافت نشد.</h3>

                    <p>
                        لطفا بعدا تلاش نمایید
                    </p>

                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->
    </div>
</div>
</body>
</html>



