
<!DOCTYPE HTML>
 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    
<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>

  <body dir="rtl">
    <div class="container">
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>  
       
      <h1>Error</h1>
       
    <h2>[[${messege}]]</h2>
       
			
			</div>
   </body>
</html>