<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>IOT</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/css-select/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
    <script type="text/javascript" th:src="@{/js/get.js}" src="../static/js/get.js"></script>
    <script type="text/javascript" th:src="@{/js/jqueryAjaxGet.js}" src="../static/js/jqueryAjaxGet.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/persian-datepicker.min.css">
    <link rel="stylesheet" th:href="@{/css/css-select/bootstrap-select.css}">
    <script th:src="@{/js/js-select/bootstrap-select.js}"></script>
    <script th:src="@{/js/persian-date.min.js}"></script>
    <script th:src="@{/js/persian-datepicker.min.js}"></script>
    <script>
        $(function () {
            $(".normal-example").persianDatepicker({
                formatDate: "YYYY-0M-0D",
                showGregorianDate: true,
                autoClose: true
            });
        })
    </script>
</head>

<style>
    table th, table td {
        padding: 5px;
    }

    .message {
        color: blue;
    }
</style>

<body dir="rtl">
<div class="container">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>
    <h2>ثبت آفیش</h2>
    <!--    <input type="text" id="normal-example">-->

    <div sec:authorize="hasAnyAuthority('OP_TAHIEKONANDEH','OP_HAMAHANGIE')">
        <button class="btn btn-success fnBtn" id="newoffice">ثبت آفیش جدید</button>
    </div>
    <table class="table table-hover">
        <thead>
        <tr class="text-center">
            <th dir="rtl">ردیف</th>
            <th dir="rtl">نام تهیه کننده</th>
            <th dir="rtl">نام آفیش</th>
            <th dir="rtl">محل آفیش</th>
            <th dir="rtl">تکمیل آفیش</th>
            <th dir="rtl">تنظیمات</th>
        </tr>
        </thead>

        <tbody>
        <tr class="text-center" th:each="form : ${forms}">
            <td th:utext="${form.id}">...</td>
            <td th:utext="${form.getUsers().get(0).getFullname()}">...</td>
            <td th:utext="${form.program.getName()}">...</td>
            <td th:utext="${form.location.getName()}">...</td>

            <td th:if="${form.status ==false}" >به اتمام نرسیده</td>
            <td th:if="${form.status ==true}" >تکمیل شده</td>
            <td>
                <th:block
                        sec:authorize="hasAnyAuthority('OP_TAHIEKONANDEH','OP_HAMAHANGIE','OP_MODIR_POSHTIBANIT','OP_ANBARDAR')">
                    <a th:href="${form.id}" class="btn btn-primary feBtn" id="OpenForm">اضافه کردن</a>
                </th:block>
                <a th:href="@{form/(id=${form.id})}" class="btn btn-default mdelBtn" id="DeleteUser">نمایش</a>
                <th:block sec:authorize="hasAnyAuthority('OP_TAHIEKONANDEH','OP_HAMAHANGIE')">
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                            th:attr="data-target='#modal-warning'+${form.getId() }">
                        حذف
                    </button>
                </th:block>
                <input sec:authorize="hasAuthority('OP_MODEIR_VAHED_DARKHST_KONANDEH')"
                       th:if="${form.getMdarkhastemza() != null}" type="submit" class="btn btn-success" value="تایید شد"
                       disabled>
                <input sec:authorize="hasAuthority('OP_ANBARDAR')" th:if="${form.getAnbaremza() != null}" type="submit"
                       class="btn btn-success" value="تایید شد" disabled>
                <input sec:authorize="hasAuthority('OP_MODIR_POSHTIBANIT')" th:if="${form.getPoshemza() != null}"
                       type="submit" class="btn btn-success" value="تایید شد" disabled>
                <input sec:authorize="hasAuthority('OP_TAHIEKONANDEH')" th:if="${form.getTahayeemza() != null}"
                       type="submit" class="btn btn-success" value="تایید شد" disabled>
                <input sec:authorize="hasAuthority('OP_HAML_NAGHL')" th:if="${form.getHamlonaghlemza() != null}"
                       type="submit" class="btn btn-success" value="تایید شد" disabled>
                <input sec:authorize="hasAuthority('OP_TASVIRBARDAR_2')" th:if="${form.getTasviremza2() != null}"
                       type="submit" class="btn btn-success" value="تایید شد" disabled>
                <input sec:authorize="hasAuthority('OP_TASVIRBARDAR_1')" th:if="${form.getTasviremza() != null}"
                       type="submit" class="btn btn-success" value="تایید شد" disabled>
                <input sec:authorize="hasAuthority('OP_TASVIRBARDAR_3')" th:if="${form.getTasviremza3() != null}"
                       type="submit" class="btn btn-success" value="تایید شد" disabled>
                <input sec:authorize="hasAuthority('OP_HERASAT')" th:if="${form.getKhherasatemza() != null}"
                       type="submit" class="btn btn-warning" value="خروج تایید شد" disabled>
                <input sec:authorize="hasAuthority('OP_HERASAT')" th:if="${form.getVherasatemza() != null}"
                       type="submit" class="btn btn-success" value="ورود تایید شد" disabled>
                <div class="modal fade" th:id="modal-warning+${form.getId()}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"
                                    th:utext="${form.getTahayekonande()}"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="alert alert-danger">
                                    آیا شما مطمین هستید که میخواهید این سطح دسترسی را پاک کنید ؟
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                                <a th:href="@{/admin/officeform/delete/{id}(id=${form.id})}"
                                   class="btn btn-danger">حذف</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>

    <div class="fmyForm ">
        <form th:action="@{/saveForm}" method="post" enctype="multipart/form-data">
            <div class="modal fade" id="fexampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="tahayekonande" class="form-control-label">نام تهیه کننده:</label>
                                <input type="text" class="form-control" id="tahayekonande" name="tahayekonande"
                                       th:value="${tahie}" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label for="program" class="form-control-label">نام برنامه:</label>
                                <select class="form-control" id="program" name="program">
                                    <option value="">نوع آفیش را انتخاب کنید</option>
                                    <option th:each="pro :${programs}" th:value="${pro.getId()}"
                                            th:text="${pro.getName()}"></option>
                                </select>
                            </div>

                            <div class="form-inline form-group">
                                <!--                                <label>انتخاب تاریخ:</label>-->
                                <div class="input-group input-group-sm">
                                    <label for="date_begin" class="form-control-label">از تاریخ :</label>
                                    <input type="text" id="date_begin" name="date_begin"
                                           class=" pwt-datepicker-input-element normal-example">
                                    <label for="date_end" class="form-control-label">تا تاریخ : </label>
                                    <input type="text" id="date_end" name="date_end"
                                           class="pwt-datepicker-input-element normal-example">
                                </div>
                                <!-- /.input group -->
                            </div>
                            <div class="form-group">
                                <label for="saat_zabt" class="form-control-label">ساعت آفیش:</label>
                                <input type="text" id="saat_zabt" name="saat_zabt" value=""/>
                                <label for="saat_zabt_end" class="form-control-label">ساعت آفیش:</label>
                                <input type="text" id="saat_zabt_end" name="saat_zabt_end" value=""/>

                            </div>
                            <div class="form-group">
                                <label for="location" class="form-control-label">محل آفیش:</label>
                                <select class="form-control" id="location" name="location">
                                    <option value="">مکان را انتخاب کنید</option>

                                    <option th:each="location :${locations}" th:value="${location.getId()}"
                                            th:text="${location.getName()}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="type" class="form-control-label">نوع آفیش:</label>
                                <select class="form-control" id="type" name="type">
                                    <option value="">نوع آفیش را انتخاب کنید</option>
                                    <option th:each="type :${officeTypes}" th:value="${type.name()}"
                                            th:text="${type.getDisplayName()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="save"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="omyForm">
        <form th:action="@{/addForm}" method="post">
            <div class="modal fade" id="oexampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="fid" name="id"/>
                            </div>
                            <table>
                                <tr>
                                    <th:block sec:authorize="hasAnyAuthority('OP_TAHIEKONANDEH','OP_HAMAHANGIE')">
                                        <td>
                                            <label for="job" class="form-control-label">عنوان شغلی:</label>
                                            <select id="job"  class="selectpicker ch" name="job" data-live-search="true"
                                                    title="انتخاب کنید">
<!--                                                <option value="">انتخاب کنید</option>-->
                                                <option th:each="job : ${jobs}" th:value="${job.getId()}"
                                                        th:text="${job.getName()}"></option>
                                            </select>
                                            <div id="wrapperfortestnames"></div>
                                        </td>
                                    </th:block>
                                    <td>
<!--                                        <th:block sec:authorize="hasAnyAuthority('OP_MODIR_POSHTIBANIT','OP_ANBARDAR')" th:each="t : ${tajhizats}">-->
<!--                                            <input type="checkbox" name="Tajhizats" th:value="${t.id}"/>-->
<!--                                            <label th:text="${t.name}"></label><br>-->
<!--                                        </th:block>-->
                                        <label for="tajhizatss" class="form-control-label">تجهیزات:</label>
                                        <select class="selectpicker" id="tajhizatss" name="tajhizatss" multiple
                                                data-live-search="true"
                                                title="انتخاب کنید">
                                            <option th:each="t  : ${tajhizats}" th:value="${t.getId()}" th:text="${t.getName()}"></option>
                                        </select>
                                    </td>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                            <input type="submit" class="btn btn-primary" value="save"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tblForm">
        <div class="modal fade bd-example-modal-lg" id="tblmodal" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="card">
                        <div class="card-block">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        <!--                                        <div class="form-group">-->
                                        <!--                                            <label for="nameBarname" class="form-control-label">نام-->
                                        <!--                                                آفیش:</label>-->
                                        <!--                                            <input type="text" class="form-control" id="nameBarname"-->
                                        <!--                                                   name="nameBarname"-->
                                        <!--                                                   value=""/>-->
                                        <!--                                        </div>-->
                                    </th>
                                    <th>
                                        <div class="form-group">
                                            <label for="tahayekonande" class="form-control-label">تهیه
                                                کننده:</label>
                                            <input type="text" class="form-control" id="tahayekonande"
                                                   name="tahayekonande" value=""/>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group">
                                            <label for="tarikh" class="form-control-label">تاریخ آفیش
                                                :</label>
                                            <input type="date" class="form-control" id="tarikh" name="tarikh"
                                                   value=""/>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group">
                                            <label for="saat" class="form-control-label">ساعت ضبط:</label>
                                            <input type="text" class="form-control" id="saat" name="saat"
                                                   value=""/>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group">
                                            <label for="location" class="form-control-label">محل آفیش:</label>
                                            <input type="text" class="form-control" id="location"
                                                   name="location"
                                                   value=""/>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <td>ردیف</td>
                                    <td>عوامل آفیش
                                    </td>
                                    <td width="300px">نام و نام خانوادگی</td>
                                    <td width="300px">تجهیزات همراه</td>
                                    <td width="300px">شماره اموال</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>