<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>اتوماسیون آفیش </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <script type="text/javascript" th:src="@{/js/main.js}" src="../static/js/main.js"></script>
    <script type="text/javascript" th:src="@{/js/jqueryAjaxGet.js}" src="../static/js/jqueryAjaxGet.js"></script>
</head>

<style>
    table {
        direction: rtl;
        text-align: right;
    }

    .btnn {
        color: black;
        background-color: blue;
        border-bottom-color: #000;
        border-radius: 2px;
        width: 80px;
    }

    .btnn:hover {
        color: black;
        background-color: red;
        border-radius: 5px;
        width: 110px;
        height: 30px;
    }

    table th {
        text-align: justify;
        padding: 5px;
        text-align: right;
        direction: rtl;
        background-color: #BECAD6;
        border-color: #5f6779;
        border: solid 2px;
    }

    table td {
        text-align: justify;
        padding: 5px;
        text-align: right;
        direction: rtl;
        background-color: #dcdcdc;
        border: solid 2px;
        border-color: #92a3f7;
    }

    .message {
        color: blue;
    }

</style>
<body style="font-size: 14px;">
<div>
    <div class="container" style="direction: rtl; padding-right: 5%; ">
        <!-- Include _menu.html -->
        <th:block th:include="/_menu"></th:block>

        <h3 align="right" th:text="${form.getType().getDisplayName()}"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        </h3>
        <h3 align="left" th:text="${form.getTarikhsodur()}"></h3>


        <table border="3">
            <tr>
                <th>
                    <div class="form-group">
                        <label for="program" class="form-control-label">نام آفیش:</label><br>
                        [[${form.program.getName()}]]
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label for="tahayekonande" class="form-control-label">تهیه کننده:</label><br>
                        [[${form.tahayekonande}]]
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label for="tarikh" class="form-control-label ">تاریخ آفیش :</label><br>
                        از
                        <span th:text="${form.getDate_begin()}"></span>
                        تا<br>
                        <span th:text="${form.getDate_end()}"></span>
                    </div>
                </th>
                <th>

                    <div class="form-group">
                        <label for="saat" class="form-control-label">ساعت شروع ضبط:</label><br>
                        [[${form.saat_zabt}]]
                    </div>
                    <div class="form-group">
                        <label for="saat" class="form-control-label">ساعت پایان ضبط:</label><br>
                        [[${form.saat_zabt_end}]]
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label for="location" class="form-control-label">محل آفیش:</label><br>
                        [[${form.location.getName()}]]
                    </div>
                </th>
            </tr>
            <tr>
                <td>ردیف</td>
                <td>عوامل آفیش</td>
                <td width="300px">نام و نام خانوادگی</td>
                <td width="300px">تجهیزات همراه</td>
                <td width="300px">شماره اموال</td>
            </tr>
            <tbody>
            <tr>
                <td>1</td>
                <td>گزارشگر</td>
                <td>
                    <th:block sec:authorize="hasAnyAuthority('OP_MODIR_POSHTIBANIT','OP_TAHIEKONANDEH')"
                              id="blk">
                        <th:block>
                            <div></div>
                        </th:block>
                    </th:block>
                </td>
                <td>
                    <th:block
                            sec:authorize="hasAnyAuthority('OP_ANBARDAR','OP_MODIR_POSHTIBANIT','OP_TAHIEKONANDEH','OP_HERASAT')"
                            th:each="t : ${form.getTajhizatss()}" id="blk">
                        <div th:text="${t.getName()}"></div>
                        <!--                        <a th:href="${form.id}" class="btn btn-primary feBtn" id="OpenForm">اضافه کردن نفرات</a>-->
                    </th:block>
                </td>
                <td>
                    <th:block
                            sec:authorize="hasAnyAuthority('OP_ANBARDAR','OP_MODIR_POSHTIBANIT','OP_TAHIEKONANDEH','OP_HERASAT')"
                            th:each="t : ${form.getTajhizatss()}" id="blk">
                        <div th:text="${t.getAmvalid()}"></div>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>تصویربردار</td>
                <td>
                    <th:block id="blk">
                        <th:block th:each="u : ${form.getUsers()}"
                                  sec:authorize="hasAnyAuthority('OP_ANBARDAR','OP_TAHIEKONANDEH','OP_MODIR_POSHTIBANIT','OP_TAHIEKONANDEH','OP_TASVIRBARDAR_1','OP_TASVIRBARDAR_2','OP_TASVIRBARDAR_3','OP_TASVIRBARDAR_4')">
                            <div th:text="${u.getFullname() +'  --  '+u.getPersonalId()+'  --  '+u.getJob().getName()}"></div>
                        </th:block>
                    </th:block>
                </td>
                <td class="text-center">
                    <th:block
                            sec:authorize="hasAnyAuthority('OP_TASVIRBARDAR_1','OP_TASVIRBARDAR_2','OP_TASVIRBARDAR_3','OP_TASVIRBARDAR_4')">
                        <form th:action="@{/saveEmza}" method="post">
                            <input type="hidden" name="uid" th:value="${user.id}">
                            <input type="hidden" name="fid" th:value="${form.id}">
                            <input th:if="${form.getTasviremza() != null}" type="submit" class="btn btn-success"
                                   value="تایید شد" disabled>
                            <input th:if="${form.getTasviremza() == null}" type="submit" class="btn btn-warning"
                                   value="تایید?">
                        </form>
                    </th:block>
                </td>
                <td>امضا تهیه کننده , امضای مدیر واحد درخواست کننده<br>
                    <img th:if="${form.tahayeemza} != null" width="85px"
                         th:src="*{'data:emza/jpg;base64,'+{form.tahayeemza}}" class="img-responsive"
                         style="direction: ltr;">
                    <img th:if="${form.mdarkhastemza} != null" width="85px"
                         th:src="*{'data:emza/jpg;base64,'+{form.mdarkhastemza}}" class="img-responsive"
                         style="direction: ltr;">
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>صدابردار</td>
                <td>
                    <th:block th:each="u : ${form.users}" id="blk">
                        <th:block
                                sec:authorize="hasAnyAuthority('OP_ANBARDAR','OP_MODIR_POSHTIBANIT','OP_TAHIEKONANDEH','OP_SEDABARDAR')">
                            <div th:if="${u.getJob() == 'صدابردار'}" th:text="${u.getFullname()}"></div>
                        </th:block>
                    </th:block>
                </td>
                <td class="text-center">
                    <th:block
                            sec:authorize="hasAnyAuthority('OP_SEDABARDAR')">
                        <form th:action="@{/saveEmza}" method="post">
                            <input type="hidden" name="uid" th:value="${user.id}">
                            <input type="hidden" name="fid" th:value="${form.id}">
                            <input th:if="${form.getSedaemza() != null}" type="submit" class="btn btn-success"
                                   value="تایید شد" disabled>
                            <input th:if="${form.getSedaemza() == null}" type="submit" class="btn btn-warning"
                                   value="تایید?">
                        </form>
                    </th:block>
                </td>
                <td><input type="text" class="form-control" name="shomareamval" value=""></td>
            </tr>
            <td>5</td>
            <td>کارگردان</td>
            <td>
                <th:block th:each="u : ${form.users}" id="blk">
                    <th:block sec:authorize="hasAuthority('OP_KARGARDAN')">
                        <div th:text="${u.getFullname()}"></div>
                    </th:block>
                </th:block>
            </td>
            <td><input type="text" class="form-control" name="tajhizatnames" value=""></td>
            <td><input type="text" class="form-control" name="shomareamval" value=""></td>
            </tr>
            <tr>
                <td>6</td>
                <td> تهیه کننده</td>
                <td>
                    <th:block th:each="u : ${form.users}" id="blk">
                        <th:block sec:authorize="hasAnyAuthority('OP_HAMAHANGIE','OP_TAHIEKONANDEH')">
                            <div th:if="${u.getJob() == 'تهیه کننده'}" th:text="${u.getFullname()}"></div>
                        </th:block>
                    </th:block>
                </td>
                <td class="text-center">
                    <th:block sec:authorize="hasAnyAuthority('OP_TAHIEKONANDEH','OP_HAMAHANGIE')">
                        <form th:action="@{/saveEmza}" method="post">
                            <input type="hidden" name="uid" th:value="${user.id}">
                            <input type="hidden" name="fid" th:value="${form.id}">
                            <input th:if="${form.getTahayeemza() != null}" type="submit" class="btn btn-success"
                                   value="تایید شد" disabled>
                            <input th:if="${form.getTahayeemza() == null}" type="submit" class="btn btn-warning"
                                   value="تایید?">
                        </form>
                    </th:block>
                </td>
                <td th:if="${form.poshemza} != null">امضا هماهنگی و پشتیبانی فنی<br>
                    <img width="90px" th:src="*{'data:emza/jpg;base64,'+{form.poshemza}}" class="img-responsive"
                         style="direction: ltr;">
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td> مدیر واحد درخواست کننده</td>
                <td>
                    <th:block th:each="u : ${form.users}" id="blk">
                        <th:block sec:authorize="hasAuthority('OP_MODEIR_VAHED_DARKHST_KONANDEH')">
                            <div th:text="${u.getFullname()}"></div>
                        </th:block>
                    </th:block>
                </td>
                <td class="text-center">
                    <th:block sec:authorize="hasAuthority('OP_MODEIR_VAHED_DARKHST_KONANDEH')">
                        <form th:action="@{/saveEmza}" method="post">
                            <input type="hidden" name="uid" th:value="${user.id}">
                            <input type="hidden" name="fid" th:value="${form.id}">
                            <input th:if="${form.getMdarkhastemza() != null}" type="submit" class="btn btn-success"
                                   value="تایید شد" disabled>
                            <input th:if="${form.getMdarkhastemza() == null}" type="submit" class="btn btn-warning"
                                   value="تایید?">
                        </form>
                    </th:block>
                </td>
                <td><input type="text" class="form-control" name="shomareamval" value=""></td>
            </tr>
            </tbody>
        </table>

        <hr>
        <table style="direction: rtl;" class="table table-hover" border="1">
            <tr>
                <!--                <th th:if="${form.tahayeemza} != null">امضا تهیه کننده<br>-->
                <!--                    <img width="100px" th:src="*{'data:emza/jpg;base64,'+{form.tahayeemza}}" class="img-responsive"-->
                <!--                         style="direction: ltr;">-->
                <!--                </th>-->
                <!--                <th th:if="${form.mdarkhastemza} != null">امضا مدیر واحد درخواست کننده<br>-->
                <!--                    <img width="90px" th:src="*{'data:emza/jpg;base64,'+{form.mdarkhastemza}}" class="img-responsive"-->
                <!--                         style="direction: ltr;">-->
                <!--                </th>-->
                <!--                <th th:if="${form.poshemza} != null">امضا هماهنگی و پشتیبانی فنی<br>-->
                <!--                    <img width="90px" th:src="*{'data:emza/jpg;base64,'+{form.poshemza}}" class="img-responsive"-->
                <!--                         style="direction: ltr;">-->
                <!--                </th>-->
                <th th:if="${form.anbaremza} != null">مضای انبار دار<br>
                    <img width="90px" th:src="*{'data:emza/jpg;base64,'+{form.anbaremza}}" class="img-responsive"
                         style="direction: ltr;">
                </th>
                <th th:if="${form.hamlonaghlemza} != null">
                    مسئول حمل و نقل<br>
                    <img width="90px" th:src="*{'data:emza/jpg;base64,'+{form.hamlonaghlemza}}" class="img-responsive"
                         style="direction: ltr;">
                </th>
            </tr>
            <tr>
                <th th:if="${form.sedaemza} != null">امضا صدابردار<br>
                    <img width="90px" th:src="*{'data:emza/jpg;base64,'+{form.sedaemza}}" class="img-responsive"
                         style="direction: ltr;">
                </th>
                <th th:if="${form.tasviremza} != null"><p>امضا تصویر بردار</p><br>
                    <img width="100px" th:src="*{'data:emza/jpg;base64,'+{form.tasviremza}}" class="img-responsive"
                         style="direction: ltr;">
                </th>

                <td th:if="${form.tasviremza2} != null"><p>امضا تصویر بردار5</p><br>
                    <img width="100px" th:src="*{'data:emza/jpg;base64,'+{form.tasviremza2}}" class="img-responsive"
                         style="direction: ltr;">
                </td>
                <td th:if="${form.tasviremza3} != null"><p>امضا تصویر بردار6</p><br>
                    <img width="100px" th:src="*{'data:emza/jpg;base64,'+{form.tasviremza3}}" class="img-responsive"
                         style="direction: ltr;">
                </td>
            </tr>
        </table>

        <th:block sec:authorize="hasAuthority('OP_HAML_NAGHL')">
            <table style="direction: rtl;" class="table table-hover" border="1">
                <tr>
                    <th width="300px">خودروی شماره..
                        <button th:if="${!form.getCar().isEmpty()}"
                                th:text="${form.getCar().get(0).getName()}"></button>
                        ..به رانندگی آقای..
                        <button>[[${form.ranande}]]</button>
                        ..شماره کارمندی..
                        <button>[[${form.ranandeid}]]</button>
                        ..میتواند جهت آفیش فوق از محوطه خارج شود
                        <th:block sec:authorize="hasAuthority('OP_HAML_NAGHL')">
                            <form th:action="@{/saveEmza}" method="post">
                                <select th:if="${form.getHamlonaghlemza() == null}" name="tid" dir="ltr">
                                    <option>انتخاب راننده</option>
                                    <option th:each="us :${userss}" th:value="${us.id}">[[${us.fullname}]]</option>
                                </select>
                                <select th:if="${form.getHamlonaghlemza() == null}" name="car" dir="ltr">
                                    <option>انتخاب وسیله نقلیه</option>
                                    <option th:each="car :${cars}" th:value="${car.getId()}"
                                            th:text="${car.getName()}"></option>
                                </select>
                                <input type="hidden" name="fid" th:value="${form.id}">
                                <input type="hidden" name="uid" th:value="${user.id}">
                                <input th:if="${form.getHamlonaghlemza() == null}" type="submit" class="btn btn-info"
                                       value="تایید">
                                <input th:if="${form.getHamlonaghlemza() != null}" type="submit" class="btn btn-success"
                                       value="تایید شد" disabled>
                            </form>
                        </th:block>
                    </th>

                </tr>
            </table>
            <td th:if="${form.tasviremza2} != null"><p>امضا تصویر بردار2</p><br>
                <img width="100px" th:src="*{'data:emza/jpg;base64,'+{form.tasviremza2}}" class="img-responsive"
                     style="direction: ltr;">
            </td>
            <td th:if="${form.tasviremza3} != null"><p>امضا تصویر بردار3</p><br>
                <img width="100px" th:src="*{'data:emza/jpg;base64,'+{form.tasviremza3}}" class="img-responsive"
                     style="direction: ltr;">
            </td>
        </th:block>

        <th:block sec:authorize="hasAuthority('OP_HERASAT')">
            <table border="3">
                <th:block
                        sec:authorize="hasAnyAuthority('OP_ANBARDAR','OP_MODIR_POSHTIBANIT','OP_TAHIEKONANDEH','OP_HERASAT')"
                        th:each="t : ${form.getTajhizatss()}" id="blk">
                    <div th:text="${t.getName()}"></div>
                </th:block>
                <tr>
                    <td>خروج اشیا فوق در ساعت [[${form.saatkhoroj}]] از مرکز تایید می شود<br>

                        <img th:if="${form.khherasatemza} != null" width="90px"
                             th:src="*{'data:emza/jpg;base64,'+{form.khherasatemza}}" class="img-responsive"
                             style="direction: ltr;">
                        <th:block sec:authorize="hasAuthority('OP_HERASAT')">
                            <form th:action="@{/saveEmza}" method="post">
                                <input type="hidden" name="uid" th:value="${user.id}">
                                <input type="hidden" name="fid" th:value="${form.id}">
                                <input type="hidden" name="tid" value="2">
                                <input th:if="${form.getKhherasatemza() == null}" type="submit" class="btnn"
                                       value="تایید">
                                <input th:if="${form.getKhherasatemza() != null}" type="submit" class="btnn"
                                       value="تایید" disabled>
                            </form>
                        </th:block>
                    </td>
                    <td>ورود اشیا فوق در ساعت [[${form.saatvorod}]] به مرکز تایید میشود<br>
                        <img th:if="${form.vherasatemza} != null" width="90px"
                             th:src="*{'data:emza/jpg;base64,'+{form.vherasatemza}}" class="img-responsive"
                             style="direction: ltr;">

                        <th:block sec:authorize="hasAuthority('OP_HERASAT')">
                            <form th:action="@{/saveEmza}" method="post">
                                <input type="hidden" name="uid" th:value="${user.id}">
                                <input type="hidden" name="fid" th:value="${form.id}">
                                <input type="hidden" name="tid" value="1">
                                <input th:if="${form.getVherasatemza() == null}" type="submit" class="btnn"
                                       value="تایید">
                                <input th:if="${form.getVherasatemza() != null}" type="submit" class="btnn"
                                       value="تایید شد" disabled>
                            </form>
                        </th:block>
                    </td>

                </tr>

            </table>
        </th:block>
        <br>
        <th:block sec:authorize="hasAuthority('OP_MODIR_POSHTIBANIT')">
            <form th:action="@{/saveEmza}" method="post">
                <input type="hidden" name="uid" th:value="${user.id}">
                <input type="hidden" name="fid" th:value="${form.id}">
                <input th:if="${form.getPoshemza() != null}" type="submit" class="btn btn-success"
                       value="تایید شد" disabled>
                <input th:if="${form.getPoshemza() == null}" type="submit" class="btn btn-warning"
                       value="تایید?">
            </form>
        </th:block>

        <th:block sec:authorize="hasAuthority('OP_ANBARDAR')">
            <form th:action="@{/saveEmza}" method="post">
                <input type="hidden" name="uid" th:value="${user.id}">
                <input type="hidden" name="fid" th:value="${form.id}">
                <input th:if="${form.getAnbaremza() != null}" type="submit" class="btn btn-success"
                       value="تایید شد" disabled>
                <input th:if="${form.getAnbaremza()== null}" type="submit" class="btn btn-warning"
                       value="تایید?">
            </form>
        </th:block>
    </div>
</div>
</body>
</html>