<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IOT</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <script type="text/javascript" th:src="@{js/jqueryAjaxGet.js}"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>

<style>
    table th, table td {
        padding: 5px;
    }

    .message {
        color: blue;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {

        $('.fnBtn').on('click', function (event) {

            $('.fmyForm #fexampleModal').modal();
        });

    });
</script>
<body dir="rtl">
<div class="container">
    <!-- Include _menu.html -->
    <th:block th:include="/_menu"></th:block>

    <h1>آفیش</h1>
    <button class="btn btn-success fnBtn" id="formnew">ساختن آفیش جدید</button>
    <div class="card">
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>نام آفیش</th>
                    <th>امضا درخواست کننده</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="forms :${form}">
                    <td th:text="${forms.id}"></td>
                    <td th:text="${forms.nameBarname}"></td>
                    <td><img width="100px" th:src="*{'data:emza/jpg;base64,'+{forms.mdarkhastemza}}"
                             class="img-responsive"></td>

                    <td>
                        <a th:href="@{findOneDevice/(id=${forms.id})}" class="btn btn-primary fBtn">Edit</a>
                        <a th:href="@{delete/(id=${forms.id})}" class="btn btn-danger fdelBtn">Delete</a>
                        <a th:href="@{post/(id=${forms.id})}" class="btn btn-primary fviBtn">Open</a>
                        <a th:href="${forms.id}" class="btn btn-primary fseBtn">Send</a>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="fmyForm">
        <form th:action="@{/saveForm}" method="post">
            <div class="modal fade" id="uexampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update or Create</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <div class="form-group">
                                <label for="nameBarname" class="form-control-label">نام برنامه:</label>
                                <input type="text" class="form-control" id="nameBarname" name="nameBarname" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="tahayekonande" class="form-control-label">تهیه کننده:</label>
                                <input type="text" class="form-control" id="tahayekonande" name="tahayekonande"
                                       value=""/>
                            </div>

                            <div class="form-group">
                                <label for="tarikh" class="form-control-label">تاریخ برنامه :</label>
                                <input type="text" class="form-control" id="tarikh" name="tarikh" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="saat" class="form-control-label">ساعت برنامه:</label>
                                <input type="text" class="form-control" id="saat" name="saat" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="location" class="form-control-label">محل برنامه:</label>
                                <input type="text" class="form-control" id="location" name="location" value=""/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="save"/>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>


    <div class="tblForm">
        <form action="@{/post}" method="get">
            <div class="modal fade bd-example-modal-lg" id="tblmodal" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">


                        <div class="card">
                            <div class="card-block">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Value</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td id="poid"></td>
                                        <td id=podes></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="seForm">
        <form id="posForm">
            <div class="modal fade bd-example-modal-lg" id="semodal" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">


                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Make a post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="PostResultDiv" align="center"></div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="id" class="form-control-label">ID:</label>
                                <input type="text" class="form-control" id="pid" name="id"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label">Device ID:</label>
                                <input type="text" class="form-control" id="did" name="did"/>
                            </div>

                            <div class="form-group">
                                <label for="value" class="form-control-label">Status:</label>
                                <input type="text" class="form-control" id="value" name="value"/>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="save"/>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="alert alert-danger">
                        Are you sure you want to delete this device
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="" class="btn btn-danger" id="delRef">Delete</a>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>